/* * {
  margin: 0;
  padding: 0;
} */

/* h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; 
} */
a{
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素颜色 */
}